# Configuración de la aplicación
NODE_ENV=production
PORT=3000

# Base de datos
DATABASE_URL=postgresql://postgres:postgres@db:5432/crm_inmuebles?schema=public

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
